.frm_style_formidable-style.with_frm_style .frm_message, .frm_success_style {
	border: 1px solid $amuzePink;
	background-color: $amuzePink;
	color: #efefef;
	border-radius: 0px;
}

.frm_style_formidable-style.with_frm_style .frm_message p {
	text-align: center;
	color: #EFEFEF;
	display: block;
	text-transform: uppercase;
}


.footer-contact-form {
	background-color: #BD976A;
	padding: 2%;

	.frm_button_submit {
		background: #FFFFFF !important;
		width: 100% !important;
		height: 44px !important;
		border: none !important;
		margin: 0 auto !important;
		display: block;
		border-radius: 0px;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
		border-bottom: 1px solid $amuzeGray;
		transition: all 300ms ease;

		&:hover {
			background: $amuzePink !important;
			color: #EFEFEF !important;

		}
	}

	.form-field {
		width: 100%;
		clear: none;
		float: left;
		label {
			display: none !important;
		}
	}
	.frm_style_formidable-style.with_frm_style .frm_blank_field input[type=email],
	.frm_style_formidable-style.with_frm_style input[type=text], 
	.frm_style_formidable-style.with_frm_style input[type=email], 
	.frm_form_fields_style, 
	.frm_style_formidable-style.with_frm_style 
	.frm_scroll_box .frm_opt_container, 
	.frm_form_fields_active_style, 
	.frm_form_fields_error_style, 
	.frm_style_formidable-style.with_frm_style 
	.chosen-container-multi .chosen-choices, 
	.frm_style_formidable-style.with_frm_style 
	.chosen-container-single .chosen-single {
		background-color: transparent !important;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-width: 2px !important;
	}
}

.frm_style_formidable-style.with_frm_style .form-field input:not([type=file]):focus, .frm_style_formidable-style.with_frm_style select:focus, .frm_style_formidable-style.with_frm_style textarea:focus, .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=text], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=password], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=email], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=number], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=url], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=tel], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=search], .frm_form_fields_active_style, .frm_style_formidable-style.with_frm_style .chosen-container-active .chosen-choices,
.frm_style_formidable-style.with_frm_style input[type=text], .frm_style_formidable-style.with_frm_style input[type=password], .frm_style_formidable-style.with_frm_style input[type=email], .frm_style_formidable-style.with_frm_style input[type=number], .frm_style_formidable-style.with_frm_style input[type=url], .frm_style_formidable-style.with_frm_style input[type=tel], .frm_style_formidable-style.with_frm_style input[type=phone], .frm_style_formidable-style.with_frm_style input[type=search], .frm_style_formidable-style.with_frm_style select, .frm_style_formidable-style.with_frm_style textarea, .frm_form_fields_style, .frm_style_formidable-style.with_frm_style .frm_scroll_box .frm_opt_container, .frm_form_fields_active_style, .frm_form_fields_error_style, .frm_style_formidable-style.with_frm_style .chosen-container-multi .chosen-choices, .frm_style_formidable-style.with_frm_style .chosen-container-single .chosen-single
{
	background-color: transparent;
	border: 2px solid white;
	color: #FFFFFF;

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #EFEFEF;
		  text-transform: uppercase;
		}
		&::-moz-placeholder {
		  color: #EFEFEF;
		  text-transform: uppercase;
		}
		&:-ms-input-placeholder {
		  color: #EFEFEF;
		  text-transform: uppercase;
		}
		&:-moz-placeholder {
		  color: #EFEFEF;
		  text-transform: uppercase;
		}
}

.frm_style_formidable-style.with_frm_style input[type=email],
.frm_style_formidable-style.with_frm_style input[type=text] {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;

}

.frm_style_formidable-style.with_frm_style .frm_error_style {
	background-color: $amuzePink;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border-radius: 0;
	border: none;
	color: #FFFFFF;
	font-size: 14px;
	margin: 0;
	margin-bottom: 20px;
	margin-top: 20px;
  	display: block;
	text-align: center;
	text-transform: uppercase;
	p {
		margin: auto;
	}

}

.frm_style_formidable-style.with_frm_style .frm_blank_field label, 
.frm_style_formidable-style.with_frm_style .frm_error {
	color: $amuzePink;
}


@media (min-width: 768px) {
	.footer-contact-form {
		padding: 0;

		.form-field {
			width: 25%;
			input[type="text"] {
				background: $amuzeGold;
			}
		}
	}

	.frm_style_formidable-style.with_frm_style fieldset {
		padding: 0;
	}
	.frm_style_formidable-style.with_frm_style input[type=email] {
		background-color: transparent !important;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-width: 2px !important;
	}
	.footer-contact-form .form-field input[type="text"] {
		color: #EFEFEF;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #EFEFEF;
		  text-transform: uppercase;
		}
		&::-moz-placeholder {
		  color: #EFEFEF;
		  text-transform: uppercase;
		}
		&:-ms-input-placeholder {
		  color: #EFEFEF;
		  text-transform: uppercase;
		}
		&:-moz-placeholder {
		  color: #EFEFEF;
		  text-transform: uppercase;
		}
	}


}