#kadobon iframe {
  background: $amuzeGold !important;
  border: none;
  height: 100%;
  padding-top: 45px;
  padding-bottom: 45px;
}


.Panel_Top_Row_Title {
	background: transparent !important;
}

#DixysLink {
	display: none !important;
}