.divider {
	height:50px;
}

section {
	padding-top:50px;
	padding-bottom:50px;
	overflow:auto;
}

section.bg-2 {
  height: 640px;
}

section.bg-3 {
  height: 640px;
}

.bg-2 {
    background: url('../images/footer-min.jpg') no-repeat top center fixed;
    color:#fff;
    position: relative;
    background-size:cover;


  #footer_slogan {
    position: absolute;
    left: 0;
    top: 150px;
    z-index: 10;
    
    h3 {
      color: $amuzeGold;
      font-family: 'Kristi', cursive;
      font-size: 8em;
      margin-top: -20px;
      text-align: center;
      padding-top: -21px;
      margin-left: 30px;
    }
    h4 {
      text-align: left;
      font-weight: 100;
      font-size: 2em;
    }
  }
}

.bg-2::after {
  display: block;
  position: absolute;
  top: 0;
  bottom:0;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, #000000 100%);
  height: 100%;
  width: 40%;
  content: '';
}


.bg-3 {
    color:#fff;
    position: relative;
    background-size:cover;

    #footer_slogan {
      top: 410px;
      z-index: 10;
      position: absolute;
      width: 100%;
      height: 100%;
    }

    #home_slogan {
      z-index: 10;
      top: 410px;
      z-index: 10;
      position: absolute;
      width: 100%;
      height: 100%;

      h3 {
        color: $amuzePink;
        margin-right: 220px;
      }
      h4 {
        text-transform: uppercase;
        font-size:34px;
        font-weight: 100;
        margin-top: -10px;
      }

    }
}

.bg-3::after {
  display: block;
  position: absolute;
  top: 0;
  bottom:0;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, #000000 100%);
  height: 100%;
  width: 40%;
  content: '';
}


