.stepper-footer,
.stepper-desktop {
    display: none !important;
}

#resengo-process-flow > #resengo-wrapper select {

    background: none !important;
    background: #FF00FF !important;
}

#resengo-booknow {
    background: $amuzePink;
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper h2, 
#resengo-booknow #resengo-process-flow > #resengo-wrapper h3, 
#resengo-booknow #resengo-process-flow > #resengo-wrapper h4 {
    color: #FFFFFF !important;
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper {
    color: #FFFFFF !important;
}

#resengo-process-flow > #resengo-wrapper .white-box {
    background-color: none;
}
#resengo-process-flow > #resengo-wrapper.process-flow-wrapper,
#resengo-process-flow {
	width: 100%;
}

#resengo-process-flow {
    width: 100% !important;
    margin: 0 auto;
}
/*Default text color*/

#resengo-booknow #resengo-process-flow > #resengo-wrapper {
    color: #666; /*dark grey*/

}

#resengo-process-flow > #resengo-wrapper select {
    background-color: transparent !important;
}

#resengo-process-flow > #resengo-wrapper .stepper-footer .resengo-logo.mt-lrg {

}

#resengo-process-flow > #resengo-wrapper .white-box {
    background-color: transparent;
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper h2,
#resengo-booknow #resengo-process-flow > #resengo-wrapper h3,
#resengo-booknow #resengo-process-flow > #resengo-wrapper h4 {
    text-align: center !important;
}

#resengo-process-flow > #resengo-wrapper div.warning { 
    border: 1px solid #FFF;
    background-color: none;
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper .stepper {
    background-color: #28a4c8; /*light-blue*/
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper a {
  color: #FFFFFF;
  border: 1px solid white;
  border-radius: 0;
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper ul.toggle-links li a.active {
    background-color: #28a4c8; /*light blue*/
    color: #fff;
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper ul.toggle-links li a.active {
    background-color: $amuzeGray;
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper .hint {
    background-color: #28a4c8; /*light blue*/
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper .grey-box .ui-datepicker-header {
    background-color: #28a4c8; /*light blue*/
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper .ui-datepicker .ui-datepicker-prev:hover, 
#resengo-booknow #resengo-process-flow > #resengo-wrapper .ui-datepicker .ui-datepicker-next:hover {
    background-color: #28a4c8; /*light blue*/
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper .grey-box .ui-datepicker-calendar thead th {
    background-color: #28a4c8; /*light blue*/
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper .grey-box a:before {
    border-color: #28a4c8; /*light blue*/
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper .grey-box {
    background-color: $amuzePink;
    margin: 0 auto;
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper .light-blue-box {
    background-color: #28a4c8; /*light blue*/
}

#resengo-process-flow > #resengo-wrapper .dark-blue-box {
    background-color: #145466; /*dark blue*/
}

#resengo-booknow section {
    margin: 0;
    padding: 0;
    height: 100%;
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper button.white {
    color: #28a4c8; /*light blue*/
    background-color: #fff;
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper button.white:hover {
    color: #28a4c8; /*light blue*/
    background-color: #fff;
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper button {
    background-color: #28a4c8; /*light blue*/
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper button:hover {
    background-color: #56c9eb; /*light blue hover*/
    color: #fff;
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper button.trans {
    background-color: transparent;
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper button.flat {
    background-color: transparent;
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper button.flat.blue:hover {
    color: #28a4c8; /*light blue*/
	background-color: #ededed; /*grey*/
}