$amuzeGray : #555555;
$amuzePink : #b44468;
$amuzeGold : #bd976a;

@import "normalize";
@import "animate";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "_slick-theme";
//@import "fontawesome/fontawesome";
@import "resengo";
@import "fancybox";
@import "contactform";
@import "giftcardform";
@import "kadobon";
@import "parallax";

body {
  padding: 0;
  margin: 0;
  font-family: 'lato';  
}

p {
  color: $amuzeGray;
}

.slick-slide{
  padding: 0;
  font-size: 0px !important;
  
  span{
    font-size: 0px !important;
    min-height: 200px;
    width: 100%;
    background-size: cover;
    display: block;
  }
}

.slide a {
  span {
    opacity: .85;
    -webkit-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -ms-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;

    &:hover {
    opacity: 1;
  }


  }
  
}

#intro_content {
  padding-left:0;
  padding-right:0;
}

.menu_detail {
  background: $amuzeGold;
}

.submenu {
  border:1px solid #EFEFEF;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  padding-top: 20px;
  color: #FFFFFF;
  height: 140px;

  h5 {
    color: #FFFFFF;
    font-weight: 100;
    text-transform: uppercase;
    background: $amuzeGold;
    position: absolute;
    display: block;
    left: 15px;
    right: 15px;
    text-align: center;
    margin: 0;
    top: -14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#photo-slider-wrapper {
  padding: 0;
}
#photo-slider {
  margin: 0;
  padding: 0;
}

h3:first-of-type {
  color: #bd976a;
  font-family: 'Kristi', cursive;  
  font-size: 5em;
  text-align: center;
}

.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #EFEFEF;
}



.navbar-default .navbar-toggle:hover {
  background: #000000;
  border: none;
}

.navbar-default .navbar-brand,
.navbar-brand {
  color: $amuzeGold;
  text-transform: uppercase;
}

.navbar-nav > li > a {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
.navbar {
  min-height:40px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a,  
.navbar-default .navbar-nav > .active > a:focus {
  background: none;
  color: #efefef;
  transition: all 300ms ease;
}
.navbar-default .navbar-nav > .active > a:hover {
  color: $amuzeGold;
}

#head_image {
  position: relative;
}
#head_image span {
  display: block;
  background-size: cover;
  width: 100%;
  height: 100vh;
  &::after {
    display: block;
    position: absolute;
    top: 0;
    bottom:0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, #000000 100%);
    height: 100%;
    width: 40%;
    content: '';
  }
}

#logo_wrapper {
  height: 50px;
  position: absolute;
  top: 250px;

  em {
    font-family: 'Kristi', cursive;
    color: $amuzePink;
    font-size: 7em;
    padding-left: 40px;
    a{
      text-decoration: none;
      text-transform: uppercase;
      border: 1px solid $amuzePink;
      padding: 3px;
      font-family: "lato";
      font-style: normal;
      color: #efefef;
      font-size: 15px;
      &:hover{
        background: #000000;
        color: $amuzePink;
      }
    }
    &:last-of-type {
      display: block;
      font-family: "lato";
      font-style: normal;
      font-weight: 100;
      font-size: 4em;
      color: #EFEFEF;
      margin-top: -38px;
      padding-left: 0;
    }
  }
}


// Navigation
.navbar-default {
  background: $amuzeGray;
  border: none;
  position: fixed;
  width: 100%;
  z-index: 9999;
  border-bottom: 1px solid #EFEFEF;
}

.navbar {
	margin-bottom: 0;
  border-radius: 0;
}

#team p a {
  color: $amuzePink;
}

.team_member {
  padding-left: 0;
  padding-right: 0;
}

.team_member img{
  width: 100%;
  max-width: 100%;
}

.team_member span {
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 22px 0 22px 0;
}

.team_member span:first-of-type {
  border-right: 1px solid #efefef;
}

.team_member span:last-of-type {
  background: #a5505f;
  color: #FFFFFF;
  border-right: 1px solid #EFEFEF;
}

.team_member {
}

#vacatures {
  div {
    background: $amuzeGray;
    text-align: center;
    color: #EFEFEF;
    padding: 12px 0 12px 0;
    border: 1px solid #EFEFEF;

    &:first-of-type {
      border-bottom: none;
    }
    a {
      color: #EFEFEF;
      display: block;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: $amuzeGold;
      }
    }
  }
}

#join_team p a {
  color: $amuzePink;
}

.slogan span {
  color: $amuzeGray;
  font-weight: 400;
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: 1em;
  text-align: center;
  display: block;

  em {
    padding-top: 20px;
    font-size: 0.85em;
    font-weight: 100;
    font-style: normal;
  }
}

#social {
  div {
    border-top:1px solid #FFF;

    a {
      color: #FFFFFF;
      text-align: center;
      text-transform: uppercase;
      display: block;
      padding-top: 15px;
      padding-bottom: 15px;
      text-decoration: none;
      &:hover {
          color: $amuzeGold;
      }
    }
  }
}



#menu_blocks {
  background-color: $amuzeGold;
  

  h4 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FFFFFF;
    border-right: 1px solid #efefef;
  }

  a{ 
    color: $amuzeGray;
    &:hover {
      text-decoration: none;
      .cover {
        opacity: .8;
      }
    }
  }
  .cover {
    width: 100%;
    height: 280px;
    background: $amuzeGray;

    span {
      display: block;
      background-color: green;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
  }
}

#gangen {
    div {
      border: 1px solid #e4e4e4;
    h4 {
      text-align: center;
      text-transform: uppercase;
    }
    ul {
      padding: 0;
      li {
        list-style: none;
        text-align: center;
        &:last-of-type {
          font-family: "Kristi";
          font-size: 1.25em;
        }
      }
    }
  }
}


#footer {
  background-color: $amuzeGray;
  color: #FFFFFF;

  .widget {

    h3 { display: none;}
    
    &:first-of-type h3{
        display: block;
      }
    
    ul {
      padding-left: 1.2em;
      list-style: none;

      a {
        color: #FFFFFF;
      }
    }
  }
}

#cadeaubon_url {
  display: block;
  text-decoration: none;
  background-color: $amuzeGold;
  text-align: center;
  padding: 15px 0 15px;
  font-size: 2em;
  color: #EFEFEF; 
  text-transform: uppercase;
  font-weight: 100;
  transition: all 300ms ease;
  &:hover {
    background: #555555;
  }
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }

  .navbar-brand {
    float: left;
    padding: 18px 15px;
    font-size: 40px;
    font-weight: 100;
    height: 54px;
  }

  .navbar-default .navbar-brand:hover, 
  .navbar-default .navbar-brand:focus {
    color: $amuzeGold;
  }

  .nav > li {
    border-left: 1px solid #EFEFEF;
    &:last-of-type {
      border-right: 1px solid #efefef;
    }
  }

  .menu_detail {
    padding-bottom: 30px;
  }
  .submenu {
    width: 14.66668%;
    margin: 0 1% 0 1%;

  }

  .activeSubmenu {
      background-color: black;
      opacity: .35;
    }

  .slogan span {
    padding-top: 85px;
    padding-bottom: 85px;
    font-size: 2.4em;
    font-weight: 400;
  }

  #footer {
    .row:first-of-type {
      padding-top: 25px;
      padding-bottom: 15px;
    }

    border-bottom: 1px solid #EFEFEF;

    .widget h3 {
      padding: 0;
      margin: 0;
    }

    .col-md-4 {
      &:first-of-type {border-right: 1px solid #EFEFEF;}
      &:last-of-type {border-left: 1px solid #EFEFEF;
      }
    }
  }
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 30px;
  height: 50px;
  margin-left: -20px;
  bottom: 5%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@-moz-keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

@-o-keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

.with_frm_style .frm_submit {
  border-bottom: 1px solid $amuzeGray;
  button  {
    text-transform: uppercase;
  }
}



#resengo-process-flow > #resengo-wrapper select {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  background: transparent !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
  cursor: pointer;
  line-height: 16px;
  -webkit-transition: border linear 0.2s, background-color linear 0.2s, box-shadow linear 0.2s, opacity linear 0.2s;
  -moz-transition: border linear 0.2s, background-color linear 0.2s, box-shadow linear 0.2s, opacity linear 0.2s;
  -ms-transition: border linear 0.2s, background-color linear 0.2s, box-shadow linear 0.2s, opacity linear 0.2s;
  -o-transition: border linear 0.2s, background-color linear 0.2s, box-shadow linear 0.2s, opacity linear 0.2s;
  transition: border linear 0.2s, background-color linear 0.2s, box-shadow linear 0.2s, opacity linear 0.2s;
  width: 100%;
  border: 2px solid #FFF;
  padding: 3px 25px 5px 5px;
  -moz-appearance: none;
}


#resengo-booknow #resengo-process-flow > #resengo-wrapper .stepper {
  background-color: $amuzePink;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: 1 !important;
  filter: none !important;
  color: #000 !important;
}

#resengo-process-flow > #resengo-wrapper button.white, #resengo-process-flow > #resengo-wrapper input[type="button"].white, #resengo-process-flow > #resengo-wrapper .button.white, #resengo-process-flow > #resengo-wrapper input[type="submit"].white, #resengo-process-flow > #resengo-wrapper dl.tabs dt.white, #resengo-process-flow > #resengo-wrapper dl.accordion dt.white, #resengo-process-flow > #resengo-wrapper .link-fb.white {
  color: #ffffff;
  background-color: transparent !important;
  border: 1px solid #EFEFEF !important;
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper a {
  color: #FFFFFF;
  border: 1px solid white;
  border-radius: 0;
  display: block;
  text-align: center;
  padding: 15px;
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper .grey-box .ui-datepicker-header {
  background-color: $amuzePink;
}

#resengo-booknow #resengo-process-flow > #resengo-wrapper .grey-box .ui-datepicker-calendar thead th {
  background-color: $amuzeGray;
}
#resengo-process-flow > #resengo-wrapper .ui-datepicker tbody .ui-state-disabled {
  background-color: $amuzePink;
}

#resengo-process-flow > #resengo-wrapper select {
  background: transparent;
}